{% extends "base.html" %}
{% block content %}
<div class="mt-5">
    <h3>Most of us want...</h3>
    <p>Restaurant: {{ selected_restaurant }}</p>
    <span class="discount-details" data-bs-toggle="tooltip" data-bs-placement="top" title="Enjoy 5% off all beverages for dine-in customers only!">Discount Details</span>
    <a href="{{ url_for('static', filename='menu.pdf') }}" class="btn btn-outline-primary mt-3">Menu.pdf</a>
    <div class="mt-3">
        <h4>Your profile</h4>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ url_for('static', filename='profile-icon.png') }}" alt="Profile Icon" width="30" height="30" class="rounded-circle">
            </button>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Account</a></li>
                <li><a class="dropdown-item" href="#">Interests</a></li>
                <li><a class="dropdown-item" href="#">Friends</a></li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn btn-primary mt-3">Make a reservation</button>
    <button type="button" class="btn btn-secondary mt-3">Directions</button>
</div>
<script>
$(document).ready(function(){
  $('[data-bs-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}
