{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h3>Voting Results</h3>
    <div class="row" id="accordion">
        {% for rank, (restaurant_name, votes) in top_3_restaurants.items() %}
        <div class="col-md-12 restaurant-card">
            <div class="card mb-4 shadow-sm">
                <div class="card-header d-flex align-items-center justify-content-between" id="heading{{ loop.index }}">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename=restaurant_details[restaurant_name]['image']) }}" alt="{{ restaurant_name }}" class="restaurant-icon">
                        <h5 class="mb-0 flex-grow-1">
                            <button class="btn btn-link {{ 'collapsed' if loop.index != 1 else '' }}" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="{{ 'true' if loop.index == 1 else 'false' }}" aria-controls="collapse{{ loop.index }}">
                                {{ rank }}: {{ restaurant_name }}
                            </button>
                        </h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="bar-graph-container">
                        <div class="bar-graph">
                            <div class="bar bar-primary" style="width: {{ (votes['first_preference'] / total_votes_1 * 100) }}%; color: black;">
                            <span style="color: black; font-weight: bold; position: absolute; width: 100%; text-align: center;">1st ({{ (votes['first_preference'] / total_votes_1 * 100)|round(1) }}%)</span>
                            </div>
                        </div>
                        <div class="bar-graph">
                            <div class="bar bar-secondary" style="width: {{ (votes['second_preference'] / total_votes_2 * 100) }}%; color: black;">
                            <span style="color: black; font-weight: bold; position: absolute; width: 100%; text-align: center;">2nd ({{ (votes['second_preference'] / total_votes_2 * 100)|round(1) }}%)</span>
                            </div>
                        </div>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse {{ 'show' if loop.index == 1 else '' }}" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                        <div class="restaurant-details mt-3">
                            <p><strong>Distance:</strong> {{ restaurant_details[restaurant_name]['distance'] }}</p>
                            <p><strong>Rating:</strong> {{ restaurant_details[restaurant_name]['rating'] }} stars</p>
                            <p><strong>Seats Availability:</strong> {{ restaurant_details[restaurant_name]['seats'] }}</p>
                            <a href="{{ url_for('static', filename='menu.pdf') }}" class="action-button btn btn-primary mb-2" target="_blank">Menu.pdf</a>
                            <a href="https://tabelog.com/en/" class="action-button btn btn-primary mb-2" target="_blank">Make a reservation</a>
                            <!-- Embedded Map -->
                            {% if loop.index == 1 %}
                                {{ iframes[restaurant_details[restaurant_name]['cuisine']]|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Include Bootstrap JS for collapse functionality -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlDZ/Zty0auU+9mI/2Q0Ep3+aP6x9HYpOWf3C5PV2xn/x3tPbK7iTuK" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgDpCw8axVRF0T6x3eTZP6kSQQT6cq0CDScSvI5C4a1p6E5s5Qs" crossorigin="anonymous"></script>
{% endblock %}
