{% extends "base.html" %}
{% block content %}
<div class="mt-5">
    <h3>{{ session['your_name'] }}'s Vote</h3>
    <h4 class="mt-3">Now vote for a winner!</h4>
    <form action="{{ url_for('vote_winner') }}" method="post">
        <div class="form-group">
            <label>
                <input type="radio" name="winner" value="{{ selected_restaurant }}" checked>
                {{ session['your_name'] }}: {{ selected_restaurant }} ({{ selected_restaurant_details['distance'] }}, {{ selected_restaurant_details['rating'] }} stars)
            </label>
            <span class="discount-details" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ selected_restaurant_details['discount'] }}">Discount Details</span>
        </div>
        <div class="form-group">
            <label>
                <input type="radio" name="winner" value="Restaurant D">
                FRIEND 1: Restaurant D ({{ other_restaurants[0]['distance'] }}, {{ other_restaurants[0]['rating'] }} stars)
            </label>
            <span class="discount-details" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ other_restaurants[0]['discount'] }}">Discount Details</span>
        </div>
        <div class="form-group">
            <label>
                <input type="radio" name="winner" value="Restaurant E">
                FRIEND 2: Restaurant E ({{ other_restaurants[1]['distance'] }}, {{ other_restaurants[1]['rating'] }} stars)
            </label>
            <span class="discount-details" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ other_restaurants[1]['discount'] }}">Discount Details</span>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Vote</button>
    </form>
    <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back()">&#x2190; Back</button>
</div>
<script>
$(document).ready(function(){
  $('[data-bs-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}
